<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd"
        default-init-method="defaultInitMethod">

    <bean id="person" class="com.atr.jd2tasks.spring.init.beans.Person" factory-method="getInstance" 
    	init-method="init" destroy-method="destroy">
    	<property name="address" ref="address"/>
    	<property name="name" value="Ivan" />
    	<property name="age" value="29" />
    </bean>
    <bean id="address" class="com.atr.jd2tasks.spring.init.beans.Address">
    	<property name="country" value="Belarus" />
    	<property name="street" value="Microrayon-2" />
    	<property name="home" value="16" />
    </bean>
</beans>